<%- partial('partials/head', {}) %>
<body>
    <div class="header">
        <%- partial('partials/header', {}) %>
    </div>
    <div class="container">
        <%- body %>
    </div>
</body>
</html>
