.app-footer
  padding: 1em 0 0 0;
  margin: -70px auto 0 auto;
  border-top: 1px solid color-border
  background-color: color-white
  text-align: center
  font-size: 0.9em

.copyright
  color: color-gray
  line-height: 1.5
#busuanzi_value_site_pv
    margin-left: 5px
    color: color-dark